<nav id="navbar" class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container py-2">
    <div class="m-auto">
      <button (click)="toggleCollapsed()" class="navbar-toggler" type="button" dataTestId="navlinks-button">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div [ngClass]="{ collapse: collapsed, show: !collapsed }" class="navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="d-flex align-items-center nav-item">
          <a class="nav-link p-0 mx-2 home-button" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Início</a>
        </li>
        <li class="d-flex align-items-center nav-item">
          <a class="nav-link p-0 mx-2 champion-button" routerLink="/champion" routerLinkActive="active">Personagens</a>
        </li>
        <li class="d-flex align-items-center nav-item">
          <a class="nav-link p-0 mx-2 region-button" routerLink="/region" routerLinkActive="active">Regiões</a>
        </li>
      </ul>
      <hr class="hr-header" />
      <ul class="navbar-nav">
        <li class="d-flex align-items-center nav-item">
          <a *ngIf="loggedUser" class="nav-link p-0 mx-2 profile-button" routerLink="/profile" routerLinkActive="active">Perfil</a>
        </li>
        <li class="d-flex align-items-center nav-item">
          <a *ngIf="loggedUser" class="nav-link p-0 mx-2 exit-button" (click)="handleExiting()" routerLink="/login">Sair</a>
        </li>
        <li class="d-flex align-items-center nav-item">
          <a *ngIf="!loggedUser" class="nav-link p-0 mx-2 login-button" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="d-flex align-items-center nav-item">
          <a *ngIf="!loggedUser" class="nav-link p-0 mx-2 register-button" routerLink="/register" routerLinkActive="active">Cadastro</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
