.card-div {
  height: 20rem;
  width: 15rem;
  background-color: #1A242D;
  transition: transform 0.3s ease-out, background-color 0.3s cubic-bezier(0.4, 0.0, 0.2, 1), box-shadow 0.3s ease-out;
  overflow: hidden;
}

.card-div:hover {
  transform: scale(1.05);
  background-color: rgb(39 111 141);
  box-shadow: 0 0 5px 1px white;
  cursor: pointer;
}

.card-image {
  object-fit: cover;
  height: 89%;
  object-position: center top;
}

.champion-card {
  width: max-content;
}

.champion-container {
  background-image: url(../../../assets/images/champions2.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.favorite-div {
  background-color: #1A242D;
}

.favorite-icon {
  margin: auto;
  width: max-content;
  transition: transform 0.3s ease-out;
}

.fav-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.filter-button {
  background-color: #1A242D;
  transition: background-color 0.2s ease-out, box-shadow 0,2s ease-out;
}

.filter-button:active, .filter-button.active:active  {
  background-color: rgb(20, 60, 80);
}

.filter-button.active {
  background-color: rgb(39 111 141);
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 0 5px 1px white;
}

.filter-button:hover, .filter-button.active:hover  {
  background-color: rgb(32, 90, 116);
}

.input-group {
  transition: box-shadow 0.2s ease-out;
}

.input-group:focus-within {
  box-shadow: 0 0 0 0.2rem rgb(39 111 141);
  outline: 0;
}

.input-group:focus-within .input-group-text {
  color: rgb(39 111 141) !important;
  transition: color 0.2s ease-out;
}

.search-input {
  background-color: #1A242D !important;
}

.search-input:focus {
  box-shadow: none;
}

.search-input::placeholder {
  color: #8A90A2;
}
