#footer {
  background-color: #1A242D;
}

.arrow-div {
  position: fixed;
  bottom: 3%;
  right: 2%;
}

.arrow-icon, .icon {
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.a-footer:hover {
  color: white;
  text-decoration: underline;
}

.hr-footer {
  color: white;
}

.icon:hover, .arrow-icon:hover {
  transform: scale(1.2);
}

.text-footer, .a-footer {
  color: #8A90A2;
  text-decoration: none;
}
