.region-card {
  width: max-content;
}

.region-container {
  background-image: url(../../../assets/images/regions2.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.card-region-div {
  position: relative;
  height: 20rem;
  width: 30rem;
  background-color: #1A242D;
  transition: transform 0.3s ease-out, background-color 0.3s cubic-bezier(0.4, 0.0, 0.2, 1), box-shadow 0.3s ease-out;
  overflow: hidden;
}

.card-region-div:hover {
  transform: scale(1.05);
  background-color: rgb(39 111 141);
  box-shadow: 0 0 5px 1px white;
  cursor: pointer;
}

.card-region-div:hover .image-overlay {
  background: rgba(0, 0, 0, 0.8);
}

.card-region-image {
  object-fit: cover;
  height: 89%;
  object-position: center top;
  transition: transform 0.3s ease-out;
}

.icon-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.card-region-div:hover .icon-overlay {
  display: block;
}

.centered-icon {
  max-width: 75px;
  max-height: 75px;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 89%;
  transition: background 0.3s ease-out;
}

.search-input {
  background-color: #1A242D !important;
}

.search-input::placeholder {
  color: #8A90A2;
}

.search-input:focus {
  box-shadow: none;
}

.input-group {
  transition: box-shadow 0.2s ease-out;
}

.input-group:focus-within {
  box-shadow: 0 0 0 0.2rem rgb(39 111 141);
  outline: 0;
}

.input-group:focus-within .input-group-text {
  color: rgb(39 111 141) !important;
  transition: color 0.2s ease-out;
}
